.s12-testimonials {
	padding-top: 25px;
}
.s12-testimonials-slider {
	height: 430px;
	min-height: 560px;
	position: relative;
}
.s12-testimonials-slider-slide {
	padding: 5px;
	position: relative;
	background-color: #fff;
	box-shadow: var(--bs-default);
	overflow: hidden;
	border-radius: 12px;
}


.s12-testimonials-slider-slide__img {
	border-radius: 12px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

@media (min-width: 576px) {
	.s12-testimonials-slider__wrapper {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
	.s12-testimonials-slider__button--next {
		right: -30px;
	}
	.s12-testimonials-slider__button--prev {
		left: -30px;
	}
}
@media (min-width: 1171px) {
	.s12-testimonials {
		padding-top: 65px;
	}
	.s12-testimonials-slider__wrapper {
		max-width: 1110px;
	}
	.s12-testimonials__leaves-smooth {
	    top: -30px;
		left: -100px;
	}
	.s12-testimonials-slider__button--next {
		right: 31%;
	}
	.s12-testimonials-slider__button--prev {
		left: 31%;
	}
}
