.s14-bonuses {
	padding-top: 10px;

}

.s14-bonuses-cards-card {
	border-radius: 12px;
	padding: 20px;
	position: relative;
	background-color: #fff;
	box-shadow: var(--bs-default);
	overflow: hidden;
	margin-bottom: 15px;
	// max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.s14-bonuses-cards-card__title {
	font-family: $ff-s;
	font-weight: 700;
	font-size: calc(var(--fz-button) + 1px);
	margin-bottom: 10px;
	text-transform: uppercase;
	line-height: 1.5;
}

.s14-bonuses-cards-card__number {
	position: absolute;
	font-weight: 700;
	color: var(--bgc-secondary);
	font-size: 55px;
	left: 20px;
    bottom: -15px;
}
.s14-bonuses-cards-card__desc {
	margin-bottom: 8px;
	font-size: $fz-p;
	position: relative;
	padding-left: 10px;
	line-height: 1.5;
	&:before {
		content: '-';
		position: absolute;
		left: 0px;
		top: -1px;
	}
}

.s14-bonuses-cards-card__img {
	display: block;
	max-height: 200px;
	margin-left: auto;
	margin-right: -40px;
	margin-bottom: 40px;
}
.s14-bonuses-cards-card--1 {
	.s14-bonuses-cards-card__img {
		max-height: 130px;
		margin-bottom: -40px;
		margin-top: -30px;
	}
}

.s14-bonuses-cards-card--2 {
	.s14-bonuses-cards-card__img {
		margin-bottom: -25px;
		max-height: 220px;
		margin-right: -100px;
		margin-top: -150px;
	}
}

.s14-bonuses-cards-card--3 {
	.s14-bonuses-cards-card__img {
		margin-bottom: -25px;
		max-height: 220px;
		margin-right: -45px;
		margin-top: -10px;
	}
}

.s14-bonuses-cards-card--4 {
	background-image: linear-gradient( 45deg, rgb(124,15,253) 0%, rgb(174,77,255) 100%);
	color: #fff;
	.s14-bonuses-cards-card__number {
		opacity: 0.1;
	}
	.s14-bonuses-cards-card__img {
		max-height: 180px;
		margin-right: -60px;
		margin-bottom: -30px;
	}
}


@media (min-width: 768px) {
	.s14-bonuses-cards {
		display: grid;
		gap: 30px;
		grid-template-areas: "s14b1 s14b2" "s14b3 s14b2" "s14b4 s14b4";
	}
	.s14-bonuses-cards-card {
		padding: 35px;
		max-width: 100%;
		width: 100%;
		margin-bottom: 0;
	}
	.s14-bonuses-cards-card--1 {
		grid-area: s14b1;
		.s14-bonuses-cards-card__img {
			max-height: 260px;
			margin-bottom: -50px;
			margin-top: -160px;
			margin-right: -120px;
		}
	}
	.s14-bonuses-cards-card--2 {
		grid-area: s14b2;
		max-width: 444px;
		.s14-bonuses-cards-card__title {
			br {
				display: initial;
			}
		}
		.s14-bonuses-cards-card__img {
			margin-bottom: -25px;
			max-height: 100%;
			margin-right: -220px;
			margin-top: -60px;
			max-width: 390px;
		}
	}
	.s14-bonuses-cards-card--3 {
		grid-area: s14b3;
		.s14-bonuses-cards-card__img {
			margin-bottom: 5px;
			max-height: 230px;
			margin-right: -155px;
			margin-top: -200px;
		}
	}
	.s14-bonuses-cards-card--4 {
		grid-area: s14b4;
		.s14-bonuses-cards-card__img {
			position: absolute;
			right: 230px;
			top: 40px;
			max-height: 100%;
			margin-right: -180px;
			margin-bottom: -30px;
		}
		.s14-bonuses-cards-card__number {
			display: none;
		}
	}
}
@media (min-width: 1199px) {
	.s14-bonuses__title {
		max-width: 800px;
		margin-bottom: 20px;
	}
	.s14-bonuses__subtitle {
		margin-bottom: 65px;
	}
	.s14-bonuses-cards-card__title {
		font-size: 28px;
		margin-bottom: 20px;
		br {
			display: none;
		}
	}
	.s14-bonuses-cards-card {
		padding: 35px 65px;
	}
	.s14-bonuses-cards-card--4 .s14-bonuses-cards-card__img {
		margin-right: -60px;
	}
	.s14-bonuses-cards-card__number {
		font-size: 90px;
		left: 60px;
		bottom: -30px;
	}
	.s14-bonuses-cards-card__desc {
		font-size: 18px;
	}
}
