.s17-faq {
	padding-bottom: 30px;
	padding-top: 65px;
}
.s17-faq-cards {
	border-top: 1px solid var(--bgc-secondary);
}
.s17-faq-cards-card {
	border-bottom: 1px solid var(--bgc-secondary);
	overflow: hidden;
}
.s17-faq-cards-card-question {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	cursor: pointer;
}
.s17-faq-cards-card-question__title {
	font-family: $ff-s;
	line-height: 1.45;
	font-weight: 700;
	font-size: calc(var(--fz-h3) + 1px);
	max-width: 80%;
	br {
		display: none;
	}
}
.s17-faq-cards-card-question__closer {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-image: var(--bgi-secondary);
	position: absolute;
	right: 0;
	top: 50%;
	transition: all 0.3s;
	font-size: 20px;
	color: #fff;
	line-height: 1;
	transform: translateY(-50%);
}

.s17-faq-cards-card-answer {
	padding-bottom: 20px;
	max-width: 80%;
	transition: 0.3s all;
	p {
		line-height: 1.5;
		font-weight: 500;
		margin-bottom: 15px;
	}
}

.s17-faq-cards-card.opened {
	.s17-faq-cards-card-question__closer {
	transform: translateY(-50%) rotate(45deg);
		transition: all 0.3s;
	}
}

@media (min-width: 1199px) {
	.s17-faq {
		padding-top: 120px;
	}
	.s17-faq-cards-card-question__closer {
		height: 42px;
		width: 42px;
		font-size: 36px;
	}
	.s17-faq-cards {
		max-width: 1110px;
		margin-left: auto;
		margin-right: auto;
	}
	.s17-faq-cards-card-answer p {
		font-size: 18px;
	}
	.s17-faq-cards-card-answer {
		padding-top: 20px;
	}
}
