.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: var(--bgc-secondary);
	text-align: center;
}
.footer__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-branding {
	display: block;
	width: 45px;
	height: 45px;
	margin-bottom: 18px;
}
.footer-branding__logo {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.footer__desc,
.footer__link {
	display: block;
	font-family: $ff-ss;
	font-size: $fz-p;
	font-weight: 500;
	color: var(--tc-regular);
	margin-bottom: 16px;
}
.footer__link:hover {
	color: #02b202,
}

.footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-socials-link {
	display: block;
	height: 18px;
	width: 18px;
	margin-left: 15px;
	margin-right: 15px;
}
.footer-socials-link__icon {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@media (min-width: 1199px) {
	.footer__inner {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}
	.footer-socials {
		align-self: flex-start;
	}
	.footer__link,
	.footer__desc {
		font-size: 14px;
		text-align: left;
	}
	.footer-branding {
		order: -2;
		height: 75px;
		width: 65px;
	}
	.footer__links {
		order: -1;
		max-width: 220px;
	}

	.footer {
		padding-top: 90px;
		padding-bottom: 60px;
	}
}
