.s2-who {
	padding-bottom: 55px;
}
.s2-who-slider__wrapper {
	max-width: 234px;
	margin-left: auto;
	margin-right: auto;
}
.s2-who-slider-slide {
	background-color: #fff;
	box-shadow: var(--bs-default);
	border-radius: 10px;
	padding-top: 30px;
	padding-left: 27px;
	padding-right: 27px;
	height: 270px;
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		display: block;
		width: 210px;
		height: 210px;
		position: absolute;
		left: -30%;
		top: -70%;
		border-radius: 100%;
		background-image: linear-gradient( 70deg, rgb(124,15,253) 0%, rgb(174,77,255) 100%);
		z-index: 1;
	}
	&:after {
		content: '';
		display: block;
		width: 210px;
		height: 210px;
		position: absolute;
		border-radius: 100%;
		background-image: linear-gradient( 70deg, rgb(124,15,253) 0%, rgb(174,77,255) 100%);
		bottom: -40%;
		right: -12%;
		z-index: 1;
	}
}
.s2-who-slider-slide__title {
	font-size: var(--fz-h3-small);
	font-family: $ff-s;
	text-align: center;
	margin-bottom: 12px;
	font-weight: 600;
}
.s2-who-slider-slide__desc {
	font-size: $fz-small;
	text-align: center;
	line-height: 1.4;
}
.s2-who-slider-slide__img {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	z-index: 2;
}
.s2-who-slider {
	position: relative;
}

.swiper-container-horizontal > .swiper-pagination-bullets.s2-who-slider-pagination {
	bottom: -30px;
}

.s2-who-slider-button--next {
	right: -45px;
	top: 50%;
}
.s2-who-slider-button--prev {
	left: -45px;
	top: 50%;
}
.s2-who__tilte {
	br {
		display: initial;
	}
}

@media (min-width: 576px) and (max-width: 1199px) {
	.s2-who {
		padding-top: 60px;
	}
}
@media (min-width: 768px) {
	.s2-who-slider__wrapper {
		max-width: 1110px;
		margin-left: auto;
		margin-right: auto;
	}
	.s2-who-slider-button {
		display: none;
	}
	.s2-who-slider-slide {
		max-width: 340px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1199px) {
	.s2-who {
		padding-top: 55px;
		padding-bottom: 90px;
	}
	.s2-who__tilte {
		br {
			display: none;
		}
	}
	.s2-who-slider-slide {
		padding-top: 50px;
		height: 450px;
		&:before {
			left: -90px;
			top: -185px;
		}
		&:nth-child(2):before {
			right: 0;
			left: 0;
			margin-left: auto;
			margin-right: auto;
		}
		&:nth-child(3):before {
			left: unset;
			right: -90px;
		}
		&:after {
			width: 310px;
			height: 310px;
			position: absolute;
			border-radius: 100%;
			bottom: -35%;
			right: 0;
			left: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.s2-who-slider-slide__title {
		margin-bottom: 30px;
	}
	.s2-who-slider-slide__desc {
		line-height: 1.7;
	}
	.s2-who-slider-slide__img {
		height: 210px;
	}
	.s2-who__leaves-sharp {
		top: -40px;
		right: -80px;
	}
	.s2-who__leaves-smooth {
		top: 250px;
		left: -80px;
	}
}
