.s9-easy {
	padding-top: 35px;
}
.s9-easy-cards__wrapper {
	max-width: 260px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.s9-easy-cards-card__img {
	display: block;
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.s9-easy-cards-card__title {
	text-align: center;
	font-family: $ff-s;
	font-weight: 700;
	margin-bottom: 15px;
}
.s9-easy-cards-card__desc {
	text-align: center;
	line-height: 1.4;
}
.swiper-container-horizontal>.swiper-pagination-bullets.s9-easy-cards-pagination {
	bottom: -30px;
}
